
*{  /*yeh static ke ander wala file hai*/
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;            
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
  }

  .video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.281);
	z-index: -1;
  }





.inner_main_nav{
	padding-top: 25px;
	max-width: 1170px;
	margin: auto;
}
.inner_main_nav ul{
	text-align: right;
	margin: 0;
	padding: 50px 0;
	
}
.inner_main_nav ul li{
	float: none;
	display: inline-block;

}
.inner_main_nav ul li:nth-child(1),
.inner_main_nav ul li:nth-child(2){
	float: left;
}
.inner_main_nav ul li a{
	margin: 0 8px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	padding: 15px 30px;
	transition: all .3s ease 0s;
	letter-spacing: 1px;
	
}
.inner_main_nav ul li a:hover{
	background-color: #ffffff;
	color: black;
}

.logo{
	padding-top: 30px;
	padding-left: 33px;
	width: auto;
	height: 80px;
	position: absolute;
	left:50%;
	transform: translateX(-50%);

}
.logo img{
	height: 100px;
}


#title{
	letter-spacing: 1px;
	font-size: 80px;
	color: #FBFBFB;
	position: absolute;
	top: 80%;
	left: 50%;
	font-family: Anton;
	transform: translate(-50%,-50%);
	text-shadow: 0px 4px 4px rgba(77, 77, 77, 0.493); 
	
}

.sub p{
	letter-spacing: 1px;
	line-height: 200px;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	font-size: 80px;
	color: #FBFBFB;
	position: absolute;
	top: 80%;
	left: 50%;
	font-family: Anton;
	transform: translate(-50%,-50%);
}

.FORM p{
	color: #b3b3b3;
	font-size: 30px;
	color: #FBFBFB;
	text-align: center;
	align-items: center;
}

.formation label{
	font-size: 30px;
	color: #FBFBFB;
	text-align: center;
	align-items: center;
} 
.FORM{
	text-align: center;
}
.formation{
	display: inline-block;
	text-align: center;
	align-items: center;
	align-content: center;	
	
}













#t01 {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 75%;
	align-items: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
  }
  
  #t01 td, #t01 th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  
  #t01 tr:hover {background-color: #ddd;}
  
  #t01 th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3e8340;
	color: white;
  }