<!DOCTYPE html>
<html lang="en">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
</style>

<head>
    <meta charset="UTF-8">
    <title>BE PROEJCT</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="logo">
        <a href="index.html"><img href="/" src="../static/logoBB.svg" alt=""></a>
    </div>
    <div class="inner_main_nav">
        <ul>
            <li><a href="#">Search Players</a></li>
            <li><a href="#">Player Replacement</a></li>
            <li><a href="#">Match Prediction</a></li>
            <li><a href="Team.html">Create a Team!</a></li>

        </ul>
    </div>


    <br>
    <br>
    <table class="Players_table" id="t01">
        <tr>
            <th>Sr</th>
            <th>Position</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Nationality</th>
            <th>Age</th>
            <th>Club</th>
            <th>Overall</th>
            <th>Value</th>
        </tr>
        {% for i in range(n)%}
        <tr>
            <th>{{i+1}}</th>

            <th>{{formation[i].upper()}}</th>
            <!-- <th>Might not load due to copyright {{dictt[ids[i]][6]}}</th> -->
            <th><img src="../image/{{dictt[ids[i]][6].split('/')[-3] + dictt[ids[i]][6].split('/')[-2]+'.jpg'}}"	 /></th>
            <th>{{dictt[ids[i]][0] }}</th>
            <th>{{dictt[ids[i]][1] }}</th>
            <th>{{dictt[ids[i]][2] }}</th>
            <th>{{dictt[ids[i]][3] }}</th>
            <th>{{dictt[ids[i]][4] }}</th>
            <th>{{dictt[ids[i]][5] }}</th>
        </tr>

        {% endfor %}


    </table>


</body>

</html>